<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="css/main.css"/>
</head>

<body>

<div>
    <h1>Racoon bot</h1>
</div>

<div class="box">
    {{{ body }}}
</div>

</body>

</html>